<div class="container">
    <h3 class="text-center">Login to WebApp Maker</h3>

    <form class="wbd-form-login center-block">

        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
        <input ng-model="username"
               type="text"
               class="form-control"
               placeholder="username"/>

        <input ng-model="password"
               type="password"
               class="form-control"
               placeholder="password"/>

        <a ng-click="model.login(username, password)"
           class="btn btn-primary btn-block">
            Login
        </a>

        <p class="text-center table-bordered">
            New user?<a  href="assignment/register"> Register now! </a>
        </p>
        <p class="text-center table-bordered">
            New user?<a  href="/auth/google" target="_self"> Login with Google! </a>
        </p>
    </form>
</div>
