
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-left">
            <a class="navbar-brand" href="#">
                <b>Profile</b>
            </a>
        </div>
        <div class="pull-right">
                <a class="navbar-brand" href="/assignment/user/{{model.userId}}/website">Websites</a>
                <a class="navbar-brand" href="#" ng-click="model.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
        <a class="btn btn-primary btn-block"
           href="#" ng-click="model.updateProfile()">Update</a>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>