input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.wbd-form-login {
    max-width: 500px;
    margin-top: 20px;
}

.wbd-form-login > a,
.wbd-form-login > p {
    margin-top: 10px;
}

.wbd-form-login > p {
    min-height: 50px;
    border-radius: 4px;
    padding: 15px;
}

.navbar-default {
    background-color: #2b669a;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-link {
    color: #fff;
}

.navbar-header {
    width: 100%;
}

.nav.navbar-nav li a {
    color: white;
}

.container > h1 {
    margin-top: 50px;
}

.container > form > .btn {
    margin-top: 30px;
}

.wbd-page-content {
    margin-top: 30px;
    margin-bottom: 50px;
}

.wbd-page-content a {
    margin-top: 10px;
}

.wbd-widget {
    margin-bottom: 10px;
    min-height: 50px;
}

.wbd-widget > .wbd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 15px;
    border-bottom-left-radius: 10px;
    z-index: 5;
}

.wbd-widget p {
    margin-right:50px;
}

.wbd-page-content .list-group .list-inline {
    margin-top: 5px;
}

.wbd-page-content.container {
    margin-left: 16px;
}

.youtube-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.wbd-widget .youtube-video iframe {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}

.wbd-page-content ul {
    list-style-type: none;
    padding-left: 0px;
}
