<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Edit Page</title>
    <link href="../../vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../css/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <a href="page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content">
    <div class="row">

        <div class="col-xs-12">
            <label for="name">Name</label>
            <input class="form-control"
                   placeholder="Page Name"
                   value="Profile"
                   id="name"/>

            <label for="title">Description</label>
            <input id="title"
                   placeholder="Page Title"
                   value="Where the user edits his details..."
                   class="form-control"/>
            <a class="btn btn-block btn-danger" href="page-list.html">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

</body>
</html>