
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Widget Image
            </a>
            <p class="navbar-text pull-right">
                <a href="#" ng-click="model.updateWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content col-xs-12">

    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           placeholder="name your image widget"
           id="name" />

    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           placeholder="text that goes with your image"
           id="text" />


    <label for="widgetURL">URL</label>
    <div class="input-group">
        <input type="text"
               class="form-control"
               ng-model="model.widget.url"
               placeholder="a web link to your image"
               id="widgetURL" />
        <span class="input-group-btn">
            <a href="/assignment/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/image-search"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <label for="width">Width</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.width"
           placeholder="e.g. 100% or 300px"
           id="width" />

    <label>Upload</label>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a class="btn btn-block btn-danger" href="#" ng-click="model.deleteWidget()">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
