
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Widget YouTube
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content col-xs-12">

    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           placeholder="Name of youtube widget"
           id="name" />

    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           placeholder="Text"
           id="text" />

    <label for="widgetURL">URL</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.url"
           placeholder="YouTube URL (embed)"
           id="widgetURL" />

    <label for="width">Width</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.width"
           placeholder="e.g. 100%"
           id="width" />

    <a class="btn btn-block btn-danger" href="#" ng-click="model.deleteWidget()">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
