
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Heading Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content col-xs-12">

    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.name"
           placeholder="name the heading"
           id="name" />

    <label for="text">Text</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.text"
           placeholder="the heading text"
           id="text" />

    <label for="size">Size</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.size"
           placeholder="between 1 (biggest) and 6 (smallest)"
           id="size" />

    <a class="btn btn-block btn-danger" href="#" ng-click="model.deleteWidget()">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
