
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link" ng-click="model.createPage()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content">
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <div class="row">

        <div class="col-xs-12">
            <label for="name">Name</label>
            <input class="form-control"
                   placeholder="Page Name"
                   ng-model="model.page.name"
                   id="name"/>

            <label for="title">Description</label>
            <input id="title"
                   ng-model="model.page.description"
                   placeholder="Page Title"
                   class="form-control"/>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
