
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="/assignment/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid wbd-page-content col-xs-12">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-sm-4 col-xs-5">
                    Name
                </div>
                <div class="col-xs-5 col-sm-3">
                    Created On
                </div>
                <div class="col-sm-3 hidden-xs">
                    Modified On
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="page in model.pages">
            <div class="row">
                <div class="col-sm-4 col-xs-5">
                    <a href="/assignment/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                </div>
                <div class="col-xs-4 col-sm-3">
                    {{page.createdOn.formatAsDate()}}
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{page.updatedOn}}
                </div>
                <div class="col-xs-2">
                    <a href="/assignment/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-if="!model.pages || model.pages.length == 0">
            <div class="row">
                <div class="col-xs-12">
                    No Pages
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
