
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link" ng-click="model.updatePage()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid wbd-page-content">
    <div class="row">

        <div class="col-xs-12">
            <label for="name">Name</label>
            <input class="form-control"
                   placeholder="Page Name"
                   ng-model="model.page.name"
                   id="name"/>

            <label for="title">Description</label>
            <input id="title"
                   placeholder="Page Title"
                   ng-model="model.page.description"
                   class="form-control"/>
            <a class="btn btn-block btn-danger" href="#" ng-click="model.deletePage()">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="/assignment/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

